/************************************************************************/
/* File:        MAPSStyle.css                                           */
/* Description: Cascading Style Sheet definitions for MAPS              */
/* Author:      Andrew@DeFaria.com                                      */
/* Created:     Mon Nov  3 21:55:05 PST 2003                            */
/* Language:    Cascading Style Sheet                                   */
/*                                                                      */
/* (c) Copyright 2003, Andrew@DeFaria.com, all rights reserved.         */
/************************************************************************/
body {
  background-color:  #def;
  background-repeat: repeat-y;
  color:             white;
  font-family:       trebuchet MS, trebuchet, verdana, arial, sans-serif;
  font-size:         14px;
  margin:            0px;
}

.heading {
  margin-left: 140px;
  margin-top:  5px;
  padding:     5px;
}

#leftbar {
  line-height: 18px;
  height:      auto;
  left:        2px;
  background-color: #579;
  color:       white;
  position:    absolute;
  top:         5px;
  width:       135px;
}

.username {
  color:         yellow;
  font-family:   veranda, arial;
  font-style:    bold;
  font-size:     16px;
  margin-left:   2px;
  margin-bottom: 5px;
  text-align:    center;
  width:         125px;
}

.menu {
  font-family:      verdana, geneva, arial, helvetica, sans-serif;
  font-size:        14px;
  font-weight:      bold;
  line-height:      150%;
  margin:           2px;
  padding:          2px;
  width:            122px;
}

.intromenu {
  border:           2px groove black;
  font-family:      verdana, geneva, arial, helvetica, sans-serif;
  font-size:        14px;
  font-weight:      bold;
  line-height:      150%;
  margin:           2px;
  padding:          2px;
  width:            125px;
}

.search {
  font-family:  veranda, arial;
  font:         bold;
  font-size:    70%;
  margin-left:  2px;
  margin-right: 5px;
  text-align:   center;
  width:        125px;
}

.quickstats {
  font-size:        10px;
  line-height:      10px;
  margin:           2px;
  width:            125px;
}
.quickstats a:link {
  color:           white;
  text-decoration: none;
}
.quickstats a:visited {
  color: white;
}
.quickstats a:hover {
  color:      steelblue;
  background: white;
}
.quickstats a:active {
  color: Yellow;
}

.toolbar a:hover {
  background: transparent;
}

.content {
  background:  #def;
  border:      0.1px solid #fff;
  color:       black;
  font-family: trebuchet MS, trebuchet, verdana, arial, sans-serif;
  margin-left: 140px;
  padding:     5px;
  width:       auto;
}

.copyright {
  border-bottom: 1px dotted #ccc;
  border-top:    1px dotted #ccc;
  color:         #999;
  font-family:   verdana, arial, sans-serif;
  font-size:     10px;
  margin-top:    5px;
  text-align:    center;
  width:         auto;
}

.label { 
  color:       #993333;
  font-weight: bold;
  font-size:   14px;
}

.smalllabel {
  color:       white;
  font-weight: bold;
  line-height: 12px;
  font-size:   12px;
}

.smallnumber {
  color:       white;
  line-height: 12px;
  font-size:   12px;
}

.header {
  color:       steelblue;
  line-height: 12px;
  font-weight: bold;
}

.standout {
  color:    red;
}

.found {
  color:      white;
  background: steelblue;
  font-style: italic;
  font-weight: bold;
}

.error {
  color:      red;
  font-style: bold;
}

.dim {
  color: #999999;
}

.dimsmall {
  color:       #999999;
  font-size:   0.9em;
  font-family: Times;
}

.highlite {
  color:       #000099;
  font-weight: bold;
}

.inputfield {
  background:     #c1dffc;
  color:          Black;
  font-family:    Veranda, Times;
  font-size:      12px;
  padding-top:    0px;
  padding-bottom: 0px;
}

.inputfieldright {
  background:     #c1dffc;
  color:          Black;
  font-family:    Veranda, Times;
  font-size:      12px;
  padding-top:    0px;
  padding-bottom: 0px;
  text-align:     right;
}

#searchfield {
  font-size:            95%;
  font-weight:          normal;
  background:           #c1dffc;
  border:               solid 1px #00507d;
  border-bottom-color:  #007de1;
  border-right-color:   #007de1;
  width:                90%
}

#searchfield:hover {
  background: #c3e1ff;
}

#searchfield:focus {
  background: white;
}

.note {
  background:  #339999;
  color:       White;
  font-weight: bold;
}

.notetext {
  color:       #333;
  font-size:   10px;
  font-weight: italic;
}

.todaysActivity {
  color:     yellow;
}

/* Headers */
h1, h2, h3 {
  color: #000099;
}

h4 {
  color:       yellow;
  font-weight: bold;
}

h1 {
  font-size: 18pt;
}

h2 {
  font-size: 14pt;
}

h3 {
  font-size: 10pt;
}

h4 {
  font-size: 8pt;
}

/* Global anchor effects */
a {
  background:      transparent;
  text-decoration: none;
}

a:link {
  color: #0080c0;
}

a:visited {
  color: #cc3300;
}

a:hover {
  color:      blue;
  background: #ffff80;
}

a:active {
  color:      #ff0000;
}

img {
  border: none;
}

/* Table colors */
.tableleftend {
  background:                 SteelBlue;
  color:                      white;
  font-style:                 bold;
  font-size:                  14px;
  text-align:                 center;
  -moz-border-radius-topleft: 7px;
  border-top-left-radius:     7px;
}

.tablerightend {
  background:                  SteelBlue;
  color:                       white;
  font-style:                  bold;
  font-size:                   14px;
  text-align:                  center;
  -moz-border-radius-topright: 7px;
  border-top-right-radius:     7px;
}

.tablebordertopleft { 
  background:                 SteelBlue;
  color:                      white;
  font-style:                 bold;
  font-size:                  14px;
  text-align:                 center;
  -moz-border-radius-topleft: 7px;
  border-top-left-radius:     7px;
}

.tablebordertopright { 
  background:                 SteelBlue;
  color:                       white;
  font-style:                  bold;
  font-size:                   14px;
  text-align:                  center;
  -moz-border-radius-topright: 7px;
  border-top-right-radius:     7px;
}

.tableborderbottomleft { 
  background:                    SteelBlue;
  color:                         white;
  font-style:                    bold;
  font-size:                     14px;
  text-align:                    center;
  -moz-border-radius-bottomleft: 7px;
  border-bottom-left-radius:     7px;
}

.tableborderbottomright { 
  background:                     SteelBlue;
  color:                          white;
  font-style:                     bold;
  font-size:                      14px;
  text-align:                     center;
  -moz-border-radius-bottomright: 7px;
  border-bottom-right-radius:     7px;
}

.tableborder {
  background: SteelBlue;
  color:      white;
  font-style: bold;
  font-size:  14px;
  text-align: center;
}

.tablebordertopleft a:hover {
  background: transparent;
}

.tablebordertopright a:hover {
  background: transparent;
}

.tableborderbottomleft a:hover {
  background: transparent;
}

.tableborderbottomright a:hover {
  background: transparent;
}

.tablelabel {
  background:         White;
  text-align:         right;
  font-family:        arial, sans-serif;
  font-size:          10px;
  font-weight:        bold;
  -moz-border-radius: 7px;
  border-radius:      7px;
}

.tableheader {
  background:  SteelBlue;
  color:       white;
  text-align:  center;
  font-family: arial, sans-serif;
  font-size:   14px;
  font-weight: bold;
}

.msgtable {
  background: #d4d0c8;
}

.msgnbr {
  font-size:  8px;
  text-align: center;
}

.tableleftdata {
  background:    White;
  color:         black;
  border-left:   solid 3px SteelBlue;
  border-bottom: 1px dotted #ccc;
  font-size:     12px;
}
.tableleftrightdata {
  background:    #c1dffc;
  border-right:  solid 3px SteelBlue;
  border-left:   solid 1px SteelBlue;
  border-bottom: 1px dotted #ccc;
  font-size:     12px;
}
.tablerightleftdata {
  background:    #c1dffc;
  border-right:  solid 1px SteelBlue;
  border-left:   solid 3px SteelBlue;
  border-bottom: 1px dotted #ccc;
  font-size:     12px;
}
.tablerightdata {
  background:    White;
  border-right:  solid 3px SteelBlue;
  border-left:   1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
  font-size:     12px;
}
.tablebottomleft {
  background:                    White;
  color:                         black;
  border-left:                   solid 3px SteelBlue;
  border-right:                  1px dotted #ccc;
  border-bottom:                 solid 3px SteelBlue;
  font-size:                     12px;
  -moz-border-radius-bottomleft: 7px;
  border-bottom-left-radius:     7px;
}
.tablebottomright {
  background:                     White;
  border-right:                   solid 3px SteelBlue;
  border-left:                    1px dotted #ccc;
  border-bottom:                  solid 3px SteelBlue;
  font-size:                      14px;
  -moz-border-radius-bottomright: 7px;
  border-bottom-right-radius:     7px;
}
.tablebottomdata {
  background:    White;
  border-left:   1px dotted #ccc;
  border-bottom: solid 3px SteelBlue;
  font-size:     14px;
}
.tablebottomlefttotal {
  background:                    #c1dffc;
  border-left:                   solid 3px SteelBlue;
  border-bottom:                 solid 3px SteelBlue;
  border-right:                  1px dotted #ccc;
  font-size:                     14px;
  -moz-border-radius-bottomleft: 7px;
  border-bottom-left-radius:     7px;
}
.tablebottomrighttotal {
  background:                     #c1dffc;
  border-right:                   solid 3px SteelBlue;
  border-bottom:                  solid 3px SteelBlue;
  font-size:                      14px;
  -moz-border-radius-bottomright: 7px;
  border-bottom-right-radius:     7px;
}
.tablebottomtotal {
  background:    #c1dffc;
  border-bottom: solid 3px SteelBlue;
  border-top:    solid 1px SteelBlue;
  border-right:  1px dotted #ccc;
  font-size:     14px;
}
.tabledata {
  background:    White;
  border-left:   1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
  font-size:     14px;
}

.date {
  background: White;
  font-size:  12px;
}

.dateright {
  background:    White;
  font-size:     10px;
  border-right:  solid 3px SteelBlue;
  border-left:   1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
}

/* Special anchor effects */
.sender {
  background:  White;
  border-top:  1px dotted #ccc;
  border-left: 1px dotted #ccc;
  font-family: arial, sans-serif;
  font-size:   14px;
}
.sender a:link {
  color: steelblue;
}
.sender a:hover {
  color:      red;
  background: white;
}

.senderbottom {
  background:    White;
  border-top:    1px dotted #ccc;
  border-left:   1px dotted #ccc;
  border-bottom: solid 3px SteelBlue;
  font-size:     14px;
}
.senderbottom a:link {
  color: steelblue;
}
.senderbottom a:hover {
  color:      red;
  background: white;
}

.subject {
  background:     white;
  border-top:     1px dotted #ccc;
  border-left:    1px dotted #ccc;
  font-family:    arial, sans-serif;
  font-size:      16px;
}
.subject a:link {
  color: #b11;
}
.subject a:visited {
  color: grey;
}
.subject a:hover {
  color:      blue;
  background: white;
}

.subjectbottom {
  background:    White;
  border-top:    1px dotted #ccc;
  border-left:   1px dotted #ccc;
  border-bottom: solid 3px SteelBlue;
  font-size:     16px;
}
.subjectbottom a:link {
  color: #b11;
}
.subjectbottom a:visited {
  color: grey;
}
.subjectbottom a:hover {
  color:      blue;
  background: white;
}

/* Menu anchors */
.menu {
  font-weight: bold;
}
.menu a:link {
  color:           White;
  text-decoration: none;
}
.menu a:visited {
  color: White;
}
.menu a:hover {
  color:      Yellow;
  background: none;
}
.menu a:active {
  color: Yellow;
}

/* Intro menu anchors */
.intromenu {
  font-weight: bold;
}
.intromenu a:link {
  color: Red;
}
.intromenu a:visited {
  color: white;
}
.intromenu a:hover {
  color:      White;
  background: Red;
}
.intromenu a:active {
  color: Yellow;
}
