[Unit]
Description=Monitor XScreenSaver Daemon
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/perl /opt/clearscm/bin/monitorXScreenSaver.pl -nodaemon
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
